body {background-color: #f5fafa;}

#container {
	width: 1170px;
	height: 1700px; 
	margin: 0 auto;
	background: #f4f4f4;
}

#header_container {
	width: 1170px;
	background: #f4f4f4;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 125px;
	position: relative;
}

#header h6#logo {
	position: absolute;
	left: 30px;
}

#header h6#logo a {
	background: url(img/logo.png) no-repeat;
	width: 150px;
	height: 150px;
	display: block;
	text-indent: -999999px;
}

#header h1 {
	font-style: italic;
	position: absolute;
	left: 135px;
	top: 30px;
	color: #5dbca8;
}
/*logo*/
.search-form {
	float:right;
	display:inline-block;
	position: absolute;
	top: 80px;
	left: 790px;
}

.search-form input {
	width:200px;
	height:33px;
	padding:0px 6px;
	float:left;
	font-size:17px;
	background: #f9f9f9;
}

.search-form button {
	height:33px;
	padding:0px 7px;
	float:right;
	background: #5dbca8;
	font-size:19px;
	font-weight:600;
	text-shadow:0px 1px 0px rgba(0,0,0,0.3);
	color: #fff;
}
/*search*/
#menu{
	width: 100%;
	background: #5dbca8;
	float: left;
}

#nav{
	width: 100%;
	height: 35px;
}

#nav li{
	float: left;
	position: relative;
	list-style: none;
}

#nav li a{
	background: url(images/overlay.png) repeat-x #5dbca8;
	color: #fff;
	padding: 10px 0;
	width: 195px;
	display: block;
	text-decoration: none;
	text-align: center;
	outline: none;
}

#nav li a:hover{
	color: #5dbca8;
	background: url(images/overlay.png) repeat-x black;
}

#nav ul{
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 1;
}

#nav ul li{
	float: none;
	position: relative;
}

#nav ul li a {
	width: 195px;
}

#nav li:hover > ul {
	display: block;
}

#nav li .current { color: #5dbca8; background: black; }

/*menu*/
#slider-container {
	width: 1170px;
	height: 280px;
}

#slider {
	width: 	1100px;
	margin-left: 35px;
	margin-top: 50px;
	background: #fff;
}

#carousel-example-generic {
	height: 280px;
	padding-top: 15px;
}

.carousel-caption {
	width: 460px;
	left: 550px;
	text-align: left;
}

#l-slider {
	width: 1170px;
	height: 160px;
	background: url(img/l-slider.png) no-repeat #e9e9e9;
	background-position: center;
	margin-top: 10px;
}
/*
#l-slider1 {
	width: 1170px;
	height: 160px;
	background: url(img/l-slider1.png) no-repeat #e9e9e9;
	background-position: center;
	margin-top: 10px;
}
*/
/*slider*/
#advertise {
	width: 1170px;
	height: 140px;
	margin-top: 10px;
}

#l-advertise {
	width: 550px;
	height: 140px;
	float: left;
	background: url(img/l.png) no-repeat;
	background-position: center;
	margin-left: 15px;
}

#r-advertise {
	width: 550px;
	height: 140px;
	float: right;
	background: url(img/r.png) no-repeat;
	background-position: center;
	margin-right: 15px;
}
/*admin*/
#admin-container {
	margin: 0 auto;
	width: 700px;
	height: 262px;
	float: left;
}

h3 {
	margin-left: 15px;
	color: #505050;
}

#android, #IOS, #window {
	width: 780px;
	height: 190px;
	background: #e9e9e9;
	padding-top: 15px;
	padding-left: 15px;
}

.android {
	width: 750px;
	height: 160px;
	background: url(img/android.png) no-repeat #fff;
	float: left;
}

.IOS {
	width: 750px;
	height: 160px;
	background: url(img/IOS.png) no-repeat #fff;
	float: left;
}

.window {
	width: 750px;
	height: 160px;
	background: url(img/window.png) no-repeat #fff;
	float: left;
}

#android h4, #IOS h4, #window h4 {
	font-size: 20px;
	padding-left: 340px;
	padding-top: 10px;
}

#android h5, #IOS h5, #window h5 {
	padding-left: 355px;
}

#android p, #IOS p, #window p {
	width: 395px;
}
/*facebook*/
#fa-container {
	margin: 0 auto;
	margin-top: 30px;
	margin-right: 5px;
	width: 340px;
	height: 760px;
	background: #fff;
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#fa-container h4 {
	height: 30px;
	font-size: 18px;
	color: #fff;
	background: black;
	padding: 5px;
}

#like h5 {
	width: 340px;
	height: 45px;
	padding-left: 110px;
	padding-top: 20px;
	background: url(img/like.png) no-repeat;
}

#facebook {
	width: 340px;
	height: 300px;
	background: url(img/fb.png) no-repeat;
	margin-top: 5px;
}

#f {
	width: 250px;
	height: 35px;
	padding-top: 5px;
}

#advertising {
	width: 340px;
	height: 270px;
	background: url(img/ad.png) no-repeat;
	margin-top: 20px;
}
/*ad*/
#f-container {
	margin-top: 5px;
	width: 1170px;
	height: 150px;
	background: #e9e9e9;
	float: left;
}

.footer1, .footer2, .footer3, .footer4 {
	padding-top: 40px;
	padding-left: 90px;
	float: left;
}

.footer5 {
	padding-top: 120px;
	float: left;
}
/*footer*/
/*contact us*/
#contact {
	width: 1170px;
	height: 1440px;
}

#contact_form { 
	padding: 0; 
	width: 500px;
	height: 700px;
}

#contact_form form { 
	margin-left: 100px; 
	padding-top: 100px;
}

#contact_form form .input_field { 
	width: 300px; 
	padding: 10px; 
	color: #222;  
	background: #f4f6f9; 
	border: 2px solid #d3dae3; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 150px; 
	margin-right: 12px; 
	font-size: 16px; 
}

#contact_form form textarea { 
	width: 450px; 
	height: 100px; 
	padding: 10px; 
	color: #222;  
	background: #f4f6f9; 
	border: 2px solid #d3dae3; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	padding: 10px 22px; 
	color: #222;  
	background: #f4f6f9; 
	border: 2px solid #d3dae3; 
	font-size:16px; 
	margin: 10px 0px;
}
/*about us*/
#about-l {
	width: 800px;
	height: 1400px;
	float: left;
	margin: 0 auto;
}

#a {
	width: 800px;
	height: 650px;
	float: left;
}

#a h3 {
	margin-top: 70px;
	margin-left: 250px;
	float: left;
	text-align: center;
	color: #5dbca8;
}

#a h5 {
	margin-top: 110px;
	margin-left: 50px;
}

#adt {
	width: 700px;
	height: 750px;
	float: left;
	background: url(img/adt.png) no-repeat;
}

#about-r {
	width: 340px;
	height: 1400px;
	padding-top: 607px;
	float: right;
}
/*detail*/
#detail {
	background: url(img/detail.png) no-repeat; 
	background-position: center;
}

#d {
	padding-top: 450px;
}

#at {
	width: 700px;
	height: 750px;
	float: left;
	margin-top: 100px;
	background: url(img/adt.png) no-repeat;
}